*,
::after,
::before {
  font-family: monospace;

}

:root {
  --first: #DCD7C9;
  --second: #A27B5C;
  --third: #3F4E4F;
  --fourth: #2C3639;
}

body {
  margin-top: 5rem;
  margin-bottom: 10rem;
  width: 100%;
  background-color: var(--first);
  color: var(--fourth);
  overflow-x: hidden;

}

.container {


  width: 90%;
  margin: auto;

}

.error {
  color: red;
  font-family: monospace;
}

div.header {
  font-size: larger;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  position: fixed;
  height: 4rem;
  top: 0;
  right: 0;
  width: 100%;
  background-color: var(--fourth);
  border-bottom: solid .1rem var(--third);
  box-shadow: 0px 5px 15px var(--fourth);
  z-index: 9999999999999999999;

}

div.search {
  color: var(--first);
}

input[name=search] {
  color: var(--fourth);
  padding: .18rem;
}


/**********************************auth ************************************/

div.auth {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 4rem;
  font-size: 2rem;
  color: var(--first);


}

.guest-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--first);
  padding: .3rem .3rem;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  font-family: monospace;
  font-weight: bolder;
  margin-left: .3rem;
}




.guest-link img {
  width: 2.7rem;
  cursor: pointer;

  border-radius: 50%;
  padding: .3rem;
  background-color: var(--second);
}


.guest-link img:hover {
  width: 2.4rem;
  padding: .5rem;

  transition: ease-out .2s;
}

.guest-link:hover {
  font-size: 106%;
  transition: ease-out .2s;
}

.auth-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--first);
  padding: .3rem .3rem;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  font-family: monospace;
  font-weight: bolder;
  font-size: 1.2rem;
  margin-left: .3rem;
  gap: .2rem;
}



.auth-link img {
  width: 2.4rem;
  cursor: pointer;
  border-radius: 50%;
  padding: .3rem;
  background-color: var(--second);
}


.auth-link img:hover {
  width: 2rem;
  padding: .5rem;

  transition: ease-out .2s;
}

.auth-link:hover {
  font-size: 1.3rem;
  transition: ease-out .2s;
}




.dropdown {
  position: fixed;
  top: 3rem;
  right: 3.5rem;
  margin: 0;
  background-color: var(--second);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: .5rem;
  border-radius: 2rem;
  box-shadow: 0px 5px 15px var(--fourth);
  visibility: hidden;
  /* transition: */
  list-style-type: none;
  width: 6rem;
}

.dropdown li {
  text-align: center;
  padding: .5rem;
}

.dropdown li a {

  border: 0;
  border-radius: 0.25rem;
  background: var(--fourth);
  color: white;
  font-family: -system-ui, sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem;
  cursor: pointer;



}

.dropdown li a:hover {
  padding: .7rem;
  width: 1rem;
  transition: ease-out .2s;

}





.cart-icon {
  width: 1.5rem;
  cursor: pointer;
  border-radius: 50%;
  padding: .05rem;
  background-color: var(--second);
}


.cart-icon:hover {
  width: 2rem;
  padding: .1rem;
  transition: ease-out .2s;
}



/* ***  *************************  nav  ************************************** */
div.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 100%;
}

li.nav-l {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

li.nav-l a {
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

  color: var(--first);
  height: 100%;

}

li.nav-l a:hover {
  background-color: #5e7475;
  color: var(--fourth);
}

.active {
  background-color: var(--first) !important;
  color: var(--fourth) !important;
}

.active:hover {
  background-color: var(--first) !important;

}


span.flash {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-size: x-large;
  background-color: rgba(255, 0, 0, .7);
  border: groove red .5rem;
  color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  z-index: 99999999999999;


}

footer {
  width: 100%;
  height: 10vh;
  position: fixed;
  bottom: 0;
  left: 0;
  border: solid 1px;
  background-color: white;
  z-index: 9999999;
}

span.success-flash {
  position: fixed;
  font-size: x-large;
  font-family: fantasy;
  bottom: 1rem;
  right: 40%;
  left: 40%;
  width: 20%;
  text-align: center;
  color: rgb(0, 141, 0);
  background-color: rgb(154, 236, 154);
  padding: 1rem;
  border-radius: 0.5rem;

}


/* ************************* cart ******************************  */

.cart {
  position: fixed;
  right: 0;
  bottom: 12vh;
  background-color: var(--first);
  border: double var(--fourth);
  border-radius: 1rem;
  width: 25vw;
  max-height: 45vh;
  overflow: hidden;
  overflow-y: auto;
  padding-left: 1rem;
  padding-right: 1rem;




}


.cart-header {
  cursor: pointer;
  position: sticky;
  top: 0;
  left: 1rem;
  background-color: var(--second);
  width: 100%;
  padding: .1rem;
  margin-top: .3rem;
  border-radius: 1rem;



}


.cart-form {
  display: inline-block;
}

#cart-btn-del {}




.cart-item {
  display: flex;
  align-items: center;
  flex-direction: row;
  border: groove .1rem var(--fourth);
  margin-top: .3rem;
  border-radius: 1rem;

}

.flex-item {
  text-align: center;
  flex: 25%;
  border-right: solid 1px var(--fourth);

}

.cart-item-header {
  display: flex;
  align-items: center;
  flex-direction: row;
  border-bottom: groove .1rem var(--fourth);
  border-radius: 1rem;

}

.cart-item-header h4 {
  text-align: center;
  flex: 25%;
  border-right: solid 1px var(--fourth);
}



.show {
  display: block;
  transition: 2s ease;
}

.hide {
  display: none;
  transition: 2s ease;
}

.collapse {
  width: 8vw;
  height: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0%;
  overflow: hidden;
}


.count {
  display: inline-block;
  background-color: red;
  width: 1vw;
  text-align: center;
  border-radius: 50%;
  padding: .2rem;
  color: white;



}