 
.create-form { 
    width: 50%;
    padding: 1rem;
    margin: auto;
    border:solid 1px red;
}

.form-input { 
    margin-bottom: 1rem;
    display: flex;
    justify-content: start;
    flex-direction: column;
    padding: .2rem;



    }

.label , input { 
    padding: .2rem;

  
 

    }

