div.product {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    height: 70vh;
    margin: auto;
    position: relative;
    background-color: var(--third);
    border-radius: 5rem 1rem;
    color: var(--first);
}

.img {
    width: 30%;
    height: 90%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: var(--fourth);
    margin-left: 1rem;
    border-radius: 5rem 1rem;
    border: groove var(--first);
}


.info {
    width: 70%;
    height: 100%;
    padding: 1rem;

}

.btns {
    position: absolute;
    bottom: 1rem;
    right: 4rem;
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-self: center;
}




.info p {
    text-align: left;
    width: 80%;
    font-size: larger;
    font-family: sans-serif;
}


.btn {
    padding: .8rem .16rem;
    width: 6rem;
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
    font-family: initial;

    border-radius: .5rem;
    cursor: pointer;
    transition: .3s ease;

}

.btn-edit,
.btn-edit:active {
    background-color: #DCD7C9;
    border: solid .15rem #2C3639;

}

.btn-edit:hover {
    background-color: #2C3639;
    border: solid .15rem black;
    color: #DCD7C9;
}

.btn-del,
.btn-del:active {
    background-color: #DCD7C9;
    border: solid .15rem rgb(189, 0, 0);
    color: red;

}

.btn-del:hover {
    background-color: rgb(189, 0, 0);
    border: solid .15rem #DCD7C9;
    color: #DCD7C9;
}

.back {}

a.back {

    position: absolute;
    top: 1rem;
    right: 1rem;
    text-decoration: underline;
    padding: .8rem 1.6rem;
    transition: .3s ease;
    color: var(--first);
    font-weight: 550;
    clip-path: polygon(22% 0, 100% 0, 100% 100%, 22% 100%, 0 50%);

}

a.back:hover {
    text-decoration: none;

    background-color: var(--first);
    color: var(--fourth);

}

a.back:active {
    outline: inset var(--first) .2rem;
}