.main {
    width: 85%;
    margin: auto;
    color: var(--fourth);
    margin-top: 15rem;

}

.name {
    font-family: monospace;

}

.username {
    margin-top: -.5rem;
    color: gray;
    font-weight: normal;



}

hr {
    background-color: red;
}

.contact-info {
    width: 100%;
    margin-top: 4rem;
}

.contact-info h3 {
    width: 60%;
    display: flex;
    justify-content: space-between;
}






.location {
    margin-top: 3rem;
}

edit-btn {}

form {
    width: 70%;
    margin: auto;
    padding: 1rem;
    font-size: 1.2rem;
    display: none;

}

.form-input {
    width: 100%;
    display: grid;

    align-items: center;
    padding: .1rem;
    margin: 1rem;
}


.form-input input {
    height: 2rem;
}

button[type="submit"] {
    margin: 1rem;
}

.show {
    display: block;
}

.hide {
    display: none;
}